.card {
  margin: 20px auto 0;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 282px;
  position: relative;
}

.card:first-child {
  margin-top: 0;
}

@media screen and (min-width: 602px) {
  .card:first-child {
    margin-top: 20px;
  }
}

@media screen and (min-width: 880px) {
  .card {
    margin: 20px 17px 0 0;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
